html

{

	height:100%;

	width:100%;

	margin:0;

}



body

{

	height:100%;

	width:100%;

	margin:0;

	padding:0;

	/*background-color:#FFFFAA;*/

	background-image: url("img/tlo2.png");

	/*font-family: 'Chicle', cursive; */

	font-family: 'Lobster', cursive;

}



h1

{

	margin:0;

	color:#000;

}



h1>a

{

	text-decoration: none;

	color:#473BFF;

}



h1>a:hover

{

	color:#f58964;

}



.top

{

	/*background-color: #A0E4FE;*/

	background-image: url("img/tlo_footer.png");

	font-size:105px;

	text-align:center;

	margin-top:0;

	opacity:0.9;

	position:absolute;

	top:0;

	left:0;

	width:100%;

}



.top>a

{

	padding-bottom:0.2em;

	text-align:center;

	margin-top:0;

	text-decoration:none;

	

	color:black;

}



.top>a:hover

{

	color:orange;

}



.container_zewnetrzny

{



	min-height:60%;

	width:80%;

	margin-left:auto;

	margin-right:auto;

	padding: 0%;

	

	

}



.container

{

	height:100%;

	/*background-color:#DCE9EF ; */

	background-image: url("img/tlo_container.png");

	border-radius: 20px;

	margin-left: auto;

	margin-right:auto;

	margin-top:auto;

	margin-bottom:auto;

	text-align:center;

	opacity:0.95;

	

}



.numerek

{

	color: red;

	font-size:130px;

	/*background-color:#f58964;*/

	background-image: url("img/tlo_footer.png");

	border-radius: 2em;

	margin-left:auto;

	margin-right:auto;

	border:2px dotted #444444;

}



.ilosc_niewykorzystanych_numerkow

{

	margin-top:8%;

	font-size:40px;

	color:#615452;

}



.napis_ptaszki

{

	padding:1em;

	color:#615452;

}



@media screen and (min-width: 1200px) {

.przycisk

{

	float: left;

	width:45%;

	font-size:48px;

	text-align:center;

	margin-top:auto;

	margin-bottom:auto;

	padding: 2%;

}



.container_zewnetrzny

{

	margin-bottom:10%;

	margin-top:210px;

}





.numerek

{

	width:25%;

}



.napis_ptaszki

{

	font-size:60px;

}



.top

{

	padding-bottom:0.2em;

}





.footer

{

	font-size: 22px;

}





}



@media screen and (max-width: 1200px) {

/* Okno przeglądarki o szerokości pomiędzy 0px a 1200px */



.top

{

	padding-bottom:0.3em;

	padding-top:0.1em;

}



.przycisk

{

	width:80%;

	font-size:60px;

	text-align:center;

	margin-top:auto;

	margin-bottom:auto;

	margin-left:auto;

	margin-right:auto;

	padding: 2%;

	

}



.napis_ptaszki

{

	font-size:60px;

}



.numerek

{

	width:60%;

}

.container_zewnetrzny

{

	margin-bottom:30%;

	margin-top:25%;

}



.footer

{

	font-size: 40px;

}





}







.przycisk>a

{

	text-decoration:none;

	color:#615452;

	display: block;

	

	

}



.przycisk>a:hover

{

	font-weight:bold;

}



img:hover

{

	cursor:pointer;

}



img

{

	padding:4%;

	border-radius:15%;

}





h4

{

	margin:0;

	padding:8px;

}



.footer

{

/*	background-color:#A0E4FE;*/

background-image: url("img/tlo_footer.png");

	text-align:center;

	font-family: 'Chicle', cursive;

	position:fixed;

	width:100%;

	bottom:0;

	opacity:0.7;

	

}

